@media (max-width: 1920px) {
  .mobil_one {
    display: none;
  }
  .mobil_two {
    display: none;
  }
  .input_btn {
    position: relative;
    background: #E22828;
    border-radius: 5px;
    width: 340px;
    height: 59px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 1em;
      height: 100%;
      background-color: rgba(#FFFFFF, 0.4);
      transform: translateX(-2em) skewX(-25deg);
  
    }
    &:hover {
      border: none;
      &:before {
        animation: move-light 0.7s;
      }
    }
  }
  @keyframes move-light{
    from {
      transform: translateX(-2em) skewX(-25deg);
    }
    to {
      transform: translateX(22em) skewX(-25deg);
    }
  }
  .pop {
    width: 420px;
    padding: 50px 135px;
  }
  .modal-form__input {
    width: 340px;
  }
  .modal_btn {
    width: 404px;
    margin-left: 0;
}
.modal__title {
  font-size: 30px;
  line-height: 35px;
}
.modal_subtitle {
  font-size: 20px;
  line-height: 23px;
}
.modal__close {
  right: 20px;
  top: 20px;
}
}

@media screen and (min-width: 992px) and  (max-width: 1281px)  {
  .work_photo_items {
    width: 95%;
    margin-left: 2%;
  }
  .container {
    width: 95%;
  }
  .mesto_logo {
    margin-left: 20px;
  }
  .color {
    margin-left: 5px;
  }
  .arrow_slide_2 {
    margin-left: -2%;

  }
  .arrow_slide_1 {
    margin-left: 93%;
  }
  .header_nav_one {
    padding-left: 50px;
  }
  .header_nav {
    a {
      font-size: 14px;
    }
  }
  .promo_wrapper {
    margin-top: -29%;
  }
  .title {
    font-size: 40px;
    line-height: 50px;
  }
  .subtitle {
    font-size: 18px;
  }
  .promo {
    padding-bottom: 45px;
  }
  .services_items_item {
    width: 213px;
    height: 205px;
  }
  .media {
    margin-left: 19%;
    &_two {
      margin-left: 16%;
      padding-top: 97px;
    }
    &_three {
      margin-left: 16%;
    }
  }
  .padding_two {
    margin-left: 0;
  }
.advantage_photo_one {
  width: 101%;
  img {
    width: 54%;
  }
}
.advantage_photo_two {
  width: 100%;
  margin-left: -101%;
  img {
    width: 100%;
  }
}
.advantage_two {
  img {
    width: 85%;
  }
}
.record_title {
  font-size: 28px;
}
.advantage {
  padding-bottom: 49px;
}
.slider {
  width: 90%;
}
.work_photo {
  margin-left: 8%;
}
.input_btn {
  width: 30%;
}
.contackt-form__input_phone {
  width: 25%;
}
.contackt-form__input_name {
  width: 25%;
}
.company_text {
  width: 100%;
  padding: 0px 0px 50px;
}
.feedback_items {
  width: 85%;
  margin-left: 7%;
}
.map_footer {
  padding: 25px 0px 65px 15px ;
  margin-top: -550px;
}
.footer {
  margin-top: 8px;
}
}
@media screen and (min-width: 766px) and  (max-width: 991px) {
  .promo {
    margin-top: 10%;
  }
  .promo_header {
    margin-top: -12%;
  }
  .mobil_descr {
    margin-top: 10px;
  }
  .phone_mobil {
    margin-left: 112px;
  }
  .mobil_text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #F4F4F4;
  }
  .mobil_one {
    padding: 6px 35px;
    margin-top: 15px;
    margin-left: 5px;
    display: block;
    background: #E22828;
    border-radius: 5px;
    a {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: right;
      color: #fff;
      text-decoration: none;

      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  .mobil_two {
    margin-left: 5px;
    display: block;
    a {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: right;
      color: #000000;
      text-decoration: none;
      
      &:hover {
        color: #E22828;
        text-decoration: none;
      }
    }
  }
  .bur{
    z-index: 99999;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 100%;
    width: 100%;
    background-color: #2C2C2C;
    transition: 0.6s all;
    &_active {
        right: 0%;
        height: 50%;
    }
}
.header_two {
  padding: 0;
}
.icons_logo {
  padding-bottom: 5px;
}
.bur_two{
  z-index: 99999;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 100%;
  width: 100%;
  background-color: #2C2C2C;
  transition: 0.6s all;
  &_active {
      right: 0%;
      height: 50%;
  }
}
  .hamburger {
    z-index: 999999;
    display: block;
    position: fixed;
    right: 10px;
    top: 35%;
    transform: translateY(-50%);
    width: 26px;
    height: 50%;
    &_active {
        span {
            &:nth-child(1){
                transform: translateY(10px) rotate(-135deg);
                background-color: #fff; 
            }
            &:nth-child(2) {
                display: none;

            }
    &:nth-child(3){
                transform: translateY(3px) rotate(135deg);
                background-color: #fff; 
            }	
        }	
    }
    span {
        display: block;
        height: 2px;
        
        background-color: #1A327A; 
        margin-bottom: 2px;
        transition: 0.5s all;
        &:nth-child(1){
            margin: 5px;
            width: 80%;
            
        }  
        &:nth-child(2){
            width: 100%;
        }    
        &:nth-child(3){
            margin: 5px;
            width: 80%;
            
        }
       
    
}      
} 
.promo_photo_one {
  img {
    height: 138%;
  }
}
.promo_photo_two {
  img {
    height: 138%;
  }
}
.arrow_slide_1 {
  display: none;
}
.arrow_slide_2 {
  display: none;
}
  .container {
    width: 95%;
  }
  .mesto_logo {
    margin-left: 20px;
  }
  .color {
    margin-left: 5px;
  }
  .arrow_slide_2 {
    margin-left: -2%;

  }
  .arrow_slide_1 {
    margin-left: 93%;
  }
  .header_nav_one {
    padding-left: 50px;
  }
  .header_nav {
    a {
      font-size: 14px;
    }
  }
  .promo_wrapper {
    margin-left: 0;
  }
  .title {
    font-size: 40px;
    line-height: 50px;
  }
  .subtitle {
    font-size: 20px;
    width: 51%;
  }
  .promo {
    padding-bottom: 45px;
  }
  .padding {
    margin-left: 20px;
  }
  .tablet {
    margin-left: 0;
    margin-right: 20px;
    margin-top: 30px;
    &_descr {
      width: 308px;
    }
  }
  .tablet_two {
    margin-left: 0;
  }
  .services_items_item {
    width: 229px;
    height: 238px;
  }
  .descr_advantage {
    width: 354px;
    font-size: 14px;
  }
  .media {
    margin-left: 20px;
    &_two {
      margin-left: 20px;
      padding-top: 100px;
    }
    &_three {
      margin-left: 20px;
    }
  }
  .title_advantage {
    font-size: 16px;
  }
  .padding_two {
    margin-left: 0;
  }
.advantage_photo_one {
  width: 101%;
  img {
    width: 54%;
  }
}
.advantage_photo_two {
  width: 100%;
  margin-left: -101%;
  img {
    width: 100%;
  }
}
.advantage_two {
  img {
    width: 65%;
  }
}
.record_title {
  font-size: 22px;
  span {
    font-size: 24px;
  }
}
.advantage_photo_one {
  img {
    height: 277px;
  }
}
.advantage_photo_two {
  img {
    height: 277px;
  }
}
.advantage {
  padding-bottom: 49px;
  &_record{
    margin-left: 32px;
    margin-top: -32%;
  }
}
.slider {
  margin-left: 15px;
  margin-right: 15px;
  width: 96%;
  &_items {
    img {
      width: 74%;
      margin: 0 auto;
    }
  }
}
.slick-list {
  height: 230px;
}
.slide {
  &_one {
    padding: 35px 14px;
    margin-left: 20px;
  }
  &_two {
    padding: 35px 14px;
    margin-left: 20px;
  }
  &_three {
    padding: 35px 55px;
    margin-left: 20px;
  }
  &_four {
    padding: 43px 19px;
    margin-left: 20px;
  }
  &_five {
    padding: 35px 39px;
    margin-left: 20px;
  }
  &_six {
    padding: 43px 40px;
    margin-left: 20px;
  }
}
.work_photo {
  margin-left: 0;
  img {
    width: 50%;
  }
}
.input_btn {
  width: 100%;
  margin-left: 0;
  margin-top: 30px;
  text-align: left;
  padding-left: 30px;
}
.contackt-form__input_phone {
  width: 91%;
  margin-left: 0;
  margin-top: 30px;
}
.contackt-form__input_name {
  width: 91%;
  margin-left: 0;
}
.company_text {
  width: 96%;
  padding: 0px 15px 50px;
}
.company_title{
  font-size: 15px;
}
.company_descr {
  font-size: 13px;
}
.feedback_items {
  width: 100%;
  margin-left: 0;
  &_item {
    margin-left: 20px;
    padding: 30px 0px 24px 15px;
    width: 340px;
  }
}
.map_footer {
  padding: 25px 0px 50px 20px ;
  margin-top: -135%;
  width: 103%;
  margin-left: -3%;
}
.footer_gear {
  margin-top: -40%;
  margin-left: 50%;
}
.iframe_map {
  margin-top: 50%;
}
.footer {
  margin-top: 64%;
  z-index: 5;
}
.email_logo {
  margin-left: 60px;
}
.phone_logo {
  margin-left: 60px;
}
}
@media screen and (min-width: 575px) and  (max-width: 765px) {
  .promo {
    margin-top: 13%;
  }
  .mobil_text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #F4F4F4;
  }
  .promo_header {
    margin-top: -16%;
  }
  .mobil_descr {
    margin-top: 10px;
  }
  .mobil_one {
    padding: 6px 35px;
    margin-top: 15px;
    display: block;
    background: #E22828;
    border-radius: 5px;
    margin-left: 30px;
    a {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: right;
      color: #fff;
      text-decoration: none;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  .mobil_two {
    display: block;
    a {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: right;
      color: #000000;
      text-decoration: none;
      
      &:hover {
        color: #E22828;
        text-decoration: none;
      }
    }
  }
  .email_logo {
    margin-left: 45px;
  }
  .phone_logo {
    margin-left: 45px;
  }
  .modal__title {
    font-size: 24px;
  }
  .modal__subtitle {
    font-size: 20px;
  }
  .pop {
    padding: 40px 70px;
    width: 70%;
  }
  .modal-form__input {
    width: 85%;
    padding: 10px 30px;
    margin-bottom: 10px;
  }
  .modal_btn {
    width: 70%;
    text-align: center;
  }
  .promo {
    background: #1A327A;
    padding-top: 50px;
  }
  .promo_photo {
    display: none;
  }
  .bur{
    z-index: 99999;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 100%;
    width: 100%;
    background-color: #2C2C2C;
    transition: 0.6s all;
    &_active {
        right: 0%;
        height: 50%;
    }
}
.header_two {
  padding: 0;
}
.icons_logo {
  padding-bottom: 5px;
}
.bur_two{
  z-index: 99999;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 100%;
  width: 100%;
  background-color: #2C2C2C;
  transition: 0.6s all;
  &_active {
      right: 0%;
      height: 50%;
  }
}
  .hamburger {
    z-index: 999999;
    display: block;
    position: fixed;
    right: 20px;
    top: 35%;
    transform: translateY(-50%);
    width: 26px;
    height: 50%;
    &_active {
        span {
            &:nth-child(1){
                transform: translateY(10px) rotate(-135deg);
                background-color: #fff; 
            }
            &:nth-child(2) {
                display: none;

            }
    &:nth-child(3){
                transform: translateY(3px) rotate(135deg);
                background-color: #fff; 
            }	
        }	
    }
    span {
        display: block;
        height: 2px;
        
        background-color: #1A327A; 
        margin-bottom: 2px;
        transition: 0.5s all;
        &:nth-child(1){
            margin: 5px;
            width: 80%;
            
        }  
        &:nth-child(2){
            width: 100%;
        }    
        &:nth-child(3){
            margin: 5px;
            width: 80%;
            
        }
       
    
}      
} 
.promo_photo_one {
  img {
    height: 138%;
  }
}
.photo_two {
  margin-top: 0;
  margin-left: 25%;
  img {
    width: 70%;
  }
}
.promo_photo_two {
  img {
    height: 138%;
  }
}
.arrow_slide_1 {
  display: none;
}
.arrow_slide_2 {
  display: none;
}
  .container {
    width: 95%;
  }
  .mesto_logo {
    margin-left: 20px;
  }
  .color {
    margin-left: 5px;
  }
  .arrow_slide_2 {
    margin-left: -2%;

  }
  .arrow_slide_1 {
    margin-left: 93%;
  }
  .header_nav_one {
    padding-left: 50px;
  }
  .header_nav {
    a {
      font-size: 14px;
    }
  }
  .promo_wrapper {
    margin-left: 0;
    margin-top: -57%;
  }
  .title {
    font-size: 40px;
    line-height: 50px;
  }
  .subtitle {
    font-size: 20px;
    width: 51%;
  }
  .promo {
    padding-bottom: 45px;
  }
  .padding {
    margin-left: 20px;
  }
  .tablet {
    margin-left: 0;
    margin-right: 20px;
    margin-top: 30px;
    &_descr {
      width: 308px;
    }
  }
  .tablet_two {
    margin-left: 0;
  }
  .services_items_item {
    width: 229px;
    height: 238px;
    margin-left: 34px;
    margin-top: 40px;

  }
  .descr_advantage {
    width: 354px;
    font-size: 14px;
  }
  .media {
    margin-left: 20px;
    &_two {
      margin-left: 20px;
      padding-top: 100px;
    }
    &_three {
      margin-left: 20px;
    }
  }
  .title_advantage {
    font-size: 20px;
  }
  .descr_advantage {
    font-size: 14px;
    width: 88%;
  }
  .padding_two {
    margin-left: 0;
  }
  .advantage_items_item {
    margin-left: 0;
  }
.advantage_photo_one {
  display: none;
}
.advantage_photo_two {
  display: none;
}
.advantage_two {
  margin-left: 0px;
  padding-bottom: 25px;
  img {
    width: 65%;
  }
}
.advantage_photo {
  margin-top: 50px;
  background: #1A327A;
border-radius: 10px;
}
.record_title {
  font-size: 22px;
  span {
    font-size: 24px;
  }
}
.advantage_photo_one {
  img {
    height: 277px;
  }
}
.advantage_photo_two {
  img {
    height: 277px;
  }
}
.advantage {
  padding-bottom: 49px;
  &_record{
    margin-left: 32px;
    margin-top: -45%;
  }
}
.slider {
  margin-left: 40px;
  margin-right: 15px;
  width: 86%;
  &_items {
    img {
      width: 74%;
      margin: 0 auto;
    }
  }
}
.slick-list {
  height: 230px;
}
.slide {
  &_one {
    padding: 35px 14px;
    margin-left: 20px;
  }
  &_two {
    padding: 35px 14px;
    margin-left: 20px;
  }
  &_three {
    padding: 35px 55px;
    margin-left: 20px;
  }
  &_four {
    padding: 43px 19px;
    margin-left: 20px;
  }
  &_five {
    padding: 35px 39px;
    margin-left: 20px;
  }
  &_six {
    padding: 43px 40px;
    margin-left: 20px;
  }
}
.work_photo {
  margin-left: 0;
  img {
    width: 50%;
  }
}
.input_btn {
  width: 100%;
  margin-left: 0;
  margin-top: 30px;
  text-align: left;
  padding-left: 30px;
}
.contackt-form__input_phone {
  width: 88%;
  margin-left: 0;
  margin-top: 30px;
}
.contackt-form__input_name {
  width: 88%;
  margin-left: 0;
}
.company_text {
  width: 96%;
  padding: 0px 15px 50px;
}
.company_title{
  font-size: 16px;
}
.company_descr {
  font-size: 16px;
}
.feedback_items {
  width: 67%;
  margin: 0 auto;
  &_item {
    margin-left: 20px;
    padding: 30px 0px 24px 15px;
    width: 340px;
  }
}
.slick-dots {
  margin-left: 35%;
}
.map_footer {
  padding: 25px 0px 50px 20px ;
  margin-top: -195%;
  width: 103%;
  margin-left: -3%;
}
.footer_gear {
  margin-top: -40%;
  margin-left: 50%;
}
.iframe_map {
  margin-top: 80%;
}
.footer {
  margin-top: 86%;
  z-index: 5;
}
}
@media screen and (min-width: 400px) and  (max-width: 574px) {
  .promo {
    margin-top: 22%;
  }
  .promo_header {
    margin-top: -25%;
  }
  .mobil_descr {
    margin-top: 10px;
  }
  .mobil_text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #F4F4F4;
  }
  .mobil_one {
    padding: 6px 30px;
    margin-top: 15px;
    display: block;
    background: #E22828;
    border-radius: 5px;
    a {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      text-align: right;
      color: #fff;
      text-decoration: none;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  .mobil_two {
    display: block;

    a {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: right;
      color: #000000;
      text-decoration: none;
      
      &:hover {
        color: #E22828;
        text-decoration: none;
      }
    }
  }
  .modal__title {
    font-size: 24px;
  }
  .modal__subtitle {
    font-size: 20px;
  }
  .pop {
    padding: 40px 70px;
    width: 70%;
  }
  .modal-form__input {
    width: 77%;
    padding: 10px 30px;
    margin-bottom: 10px;
  }
  .modal_btn {
    width: 70%;
    text-align: center;
  }
  .promo {
    background: #1A327A;
    padding-top: 50px;
  }
  .promo_photo {
    display: none;
  }
  .bur{
    z-index: 99999;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -100%;
    right: 0;
    width: 100%;
    background-color: #2C2C2C;
    transition: 0.6s all;
    &_active {
        height: 50%;
        top: 0;
    }
}
.header_two {
  padding: 0;
}
.icons_logo {
  padding-bottom: 5px;
}
.bur_two{
  z-index: 99999;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -100%;
  right: 0;
  width: 100%;
  background-color: #2C2C2C;
  transition: 0.6s all;
  &_active {
      right: 0%;
      height: 50%;
      top: 50%;
  }
}
  .hamburger {
    z-index: 999999;
    display: block;
    position: fixed;
    right: 20px;
    top: 32%;
    transform: translateY(-50%);
    width: 26px;
    height: 50%;
    &_active {
        span {
            &:nth-child(1){
                transform: translateY(10px) rotate(-135deg);
                background-color: #fff; 
            }
            &:nth-child(2) {
                display: none;

            }
    &:nth-child(3){
                transform: translateY(3px) rotate(135deg);
                background-color: #fff; 
            }	
        }	
    }
    span {
        display: block;
        height: 2px;
        
        background-color: #1A327A; 
        margin-bottom: 2px;
        transition: 0.5s all;
        &:nth-child(1){
            margin: 5px;
            width: 80%;
            
        }  
        &:nth-child(2){
            width: 100%;
        }    
        &:nth-child(3){
            margin: 5px;
            width: 80%;
            
        }
       
    
}      
}  
.promo_photo_one {
  img {
    height: 138%;
  }
}
.photo_two {
  margin-top: 0;
  margin-left: 25%;
  img {
    width: 70%;
  }
}
.promo_photo_two {
  img {
    height: 138%;
  }
}
.arrow_slide_1 {
  display: none;
}
.arrow_slide_2 {
  display: none;
}
  .container {
    width: 95%;
  }
  .mesto_logo {
    margin-left: 20px;
  }
  .color {
    margin-left: 5px;
  }
  .arrow_slide_2 {
    margin-left: -2%;

  }
  .arrow_slide_1 {
    margin-left: 93%;
  }
  .header_nav_one {
    padding-left: 50px;
  }
  .header_nav {
    a {
      font-size: 14px;
    }
  }
  .promo_wrapper {
    margin-left: 0;
    margin-top: -57%;
  }
  .title {
    font-size: 30px;
    line-height: 35px;
  }
  .subtitle {
    font-size: 15px;
    line-height: 18px;
    width: 100%;
  }
  .btn_promo {
    padding: 13px;
    font-size: 12px;
    line-height: 14px;
  }
  .promo {
    padding-bottom: 100px;
  }
  .title_one {
    font-size: 24px;
    line-height: 28px;
    span {
      font-size: 24px;
    line-height: 28px;
    }
  }
  .padding {
    margin-left: 20px;
  }
  .tablet {
    margin-left: 0;
    margin-right: 0px;
    margin-top: 30px;
    &_descr {
      width: 308px;
    }
  }
  .tablet_two {
    margin-left: 0;
  }
  .services_items_item {
    width: 140px;
    height: 165px;
    margin-left: 11%;
    margin-top: 40px;
    img {
      width: 100%;
      height: 100px;
    }

  }
  .services_descr {
    font-size: 13px;
    line-height: 15px;
    padding: 10px 10px;
  }
  .descr_advantage {
    width: 354px;
    font-size: 14px;
  }
  .media {
    margin-left: 20px;
    &_two {
      margin-left: 20px;
      
    }
    &_three {
      margin-left: 20px;
    }
  }
  .title_advantage {
    font-size: 16px;
    line-height: 18px;
  }
  .descr_advantage {
    font-size: 13px;
    width: 100%;
  }
  .padding_two {
    margin-left: 0;
  }
  .advantage_items_item {
    margin-left: 0;
  }
.advantage_photo_one {
  display: none;
}
.advantage_photo_two {
  display: none;
}
.advantage_two {
  margin-left: 5px;
  padding-bottom: 5px;
  margin-top: -75px;
  img {
    width: 65%;
  }
}
.advantage_photo {
  margin-top: 50px;
  background: #1A327A;
border-radius: 10px;
}
.record_title {
  font-size: 16px;
  line-height: 19px;
  span {
    font-size: 17px;
    line-height: 20px;
  }
}
.advantage_photo_one {
  img {
    height: 277px;
  }
}
.advantage_photo_two {
  img {
    height: 277px;
  }
}
.advantage {
  padding-bottom: 49px;
  &_record{
    margin-left: 32px;
    margin-top: -40%;
  }
}
.slider {
  margin-left: 15px;
  margin-right: 15px;
  width: 90%;
  &_items {
    img {
      width: 74%;
      margin: 0 auto;
    }
  }
}
.carousel {
  padding-bottom: 0;
}
.media_phone {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #1A327A;
  span {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #E22828;
  }
}
.input_title {
  font-size: 28px;
  line-height: 28px;
}
.input_subtitle {
  font-size: 18px;
  line-height: 19px;
}
.slick-list {
  height: 230px;
}
.slide {
  &_one {
    padding: 35px 14px;
    margin-left: 20px;
  }
  &_two {
    padding: 35px 14px;
    margin-left: 20px;
  }
  &_three {
    padding: 35px 55px;
    margin-left: 20px;
  }
  &_four {
    padding: 43px 19px;
    margin-left: 20px;
  }
  &_five {
    padding: 35px 39px;
    margin-left: 20px;
  }
  &_six {
    padding: 43px 40px;
    margin-left: 20px;
  }
}
.work_photo {
  margin-left: 0;
  img {
    width: 50%;
  }
}
.input_btn {
  width: 100%;
  margin-left: 0;
  margin-top: 30px;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
}
.contackt-form__input_phone {
  width: 83%;
  margin-left: 0;
  margin-top: 30px;
  font-size: 16px;
  line-height: 19px;
}
.contackt-form__input_name {
  width: 83%;
  margin-left: 0;
  font-size: 16px;
  line-height: 19px;
}
.company_text {
  width: 87%;
  padding: 0px 0px 50px;
}
.company_title{
  font-size: 15px;
  line-height: 18px;
  padding: 26px;
}
.company_descr {
  font-size: 14px;
  line-height: 18px;
  padding: 15px;
}
.feedback_items {
  width: 83%;
  margin: 0 auto;
  &_item {
    margin-left: 40px;
    padding: 15px;
    width: 274px;
  }
}
.star{
  margin-left: 130px;
}
.feedback_text {
  font-size: 14px;
  line-height: 16px;
}
.name {
  font-size: 16px;
  line-height: 19px;
}
.slick-dots {
  margin-left: 35%;
}
.map_footer {
  padding: 25px 0px 50px 20px ;
  margin-top: -193%;
  width: 100%;
  margin-left: -3%;
}
.footer_gear {
  margin-top: -70%;
  margin-left: 10%;
}
.iframe_map {
  margin-top: 93%;
  iframe {
    height: 366px;
  }
}
.footer {
  margin-top: 59%;
  z-index: 5;
}
}
@media screen and (min-width: 350px) and  (max-width: 399px) {
  .promo {
    margin-top: 20%;
  }
  .icons_logo {
    width: 35%;
    margin-top: 8px;

  }
  .mobil_fixed {
    padding-bottom: 15px;
  }
  .mobil_text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #F4F4F4;
  }
  .promo_header {
    margin-top: -25%;
  }
  .mobil_descr {
    margin-top: 10px;
  }
  .mobil_one {
    padding: 6px 25px;
    margin-top: 15px;
    display: block;
    background: #E22828;
    border-radius: 5px;
    margin-left: 15px;
    cursor: pointer;
    a {
      display: block;
      height: 100%;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      text-align: right;
      color: #fff;
      text-decoration: none;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  .mobil_two {
    display: block;
    margin-left: 5px;
    a {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      text-align: right;
      color: #000000;
      text-decoration: none;
      
      &:hover {
        color: #E22828;
        text-decoration: none;
      }
    }
  }
  .modal__title {
    font-size: 23px;
  }
  .modal__subtitle {
    font-size: 18px;
  }
  .pop {
    padding: 40px 34px;
    width: 70%;
  }
  .modal-form__input {
    width: 77%;
    padding: 10px 30px;
    margin-bottom: 10px;
    height: 7px;
  }
  .modal_btn {
    width: 70%;
    text-align: center;
    height: 47px;
  }
  .promo {
    background: #1A327A;
    padding-top: 50px;
  }
  .promo_photo {
    display: none;
  }
  
.bur{
  z-index: 99999;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -100%;
  right: 0;
  width: 100%;
  background-color: #2C2C2C;
  transition: 0.6s all;
  &_active {
      height: 50%;
      top: 0;
  }
}
.header_two {
padding: 0;
}
.icons_logo {
padding-bottom: 5px;
}
.bur_two{
z-index: 99999;
position: fixed;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
top: -100%;
right: 0;
width: 100%;
background-color: #2C2C2C;
transition: 0.6s all;
&_active {
    right: 0%;
    height: 50%;
    top: 50%;
}
}
.hamburger {
  z-index: 999999;
  display: block;
  position: fixed;
  right: 20px;
  top: 28%;
  transform: translateY(-50%);
  width: 26px;
  height: 50%;
  &_active {
      span {
          &:nth-child(1){
              transform: translateY(10px) rotate(-135deg);
              background-color: #fff; 
          }
          &:nth-child(2) {
              display: none;

          }
  &:nth-child(3){
              transform: translateY(3px) rotate(135deg);
              background-color: #fff; 
          }	
      }	
  }
  span {
      display: block;
      height: 2px;
      
      background-color: #1A327A; 
      margin-bottom: 2px;
      transition: 0.5s all;
      &:nth-child(1){
          margin: 5px;
          width: 80%;
          
      }  
      &:nth-child(2){
          width: 100%;
      }    
      &:nth-child(3){
          margin: 5px;
          width: 80%;
          
      }
     
  
}      
} 
.promo_photo_one {
  img {
    height: 138%;
  }
}
.photo_two {
  margin-top: 0;
  margin-left: 25%;
  img {
    width: 70%;
  }
}
.promo_photo_two {
  img {
    height: 138%;
  }
}
.arrow_slide_1 {
  display: none;
}
.arrow_slide_2 {
  display: none;
}
  .container {
    width: 95%;
  }
  .mesto_logo {
    margin-left: 20px;
  }
  .color {
    margin-left: 5px;
  }
  .arrow_slide_2 {
    margin-left: -2%;

  }
  .arrow_slide_1 {
    margin-left: 93%;
  }
  .header_nav_one {
    padding-left: 50px;
  }
  .header_nav {
    a {
      font-size: 14px;
    }
  }
  .promo_wrapper {
    margin-left: 0;
    margin-top: -57%;
  }
  .title {
    font-size: 30px;
    line-height: 35px;
  }
  .subtitle {
    font-size: 15px;
    line-height: 18px;
    width: 100%;
  }
  .btn_promo {
    padding: 13px;
    font-size: 12px;
    line-height: 14px;
  }
  .promo {
    padding-bottom: 100px;
  }
  .title_one {
    font-size: 24px;
    line-height: 28px;
    span {
      font-size: 24px;
    line-height: 28px;
    }
  }
  .padding {
    margin-left: 20px;
  }
  .tablet {
    margin-left: 0;
    margin-right: 0px;
    margin-top: 30px;
    &_descr {
      width: 308px;
    }
  }
  .tablet_two {
    margin-left: 0;
  }
  .services_items_item {
    width: 140px;
    height: 170px;
    margin-left: 7%;
    margin-top: 40px;
    img {
      width: 100%;
      height: 100px;
    }

  }
  .services_descr {
    font-size: 13px;
    line-height: 15px;
    padding: 10px 10px;
  }
  .descr_advantage {
    width: 354px;
    font-size: 14px;
  }
  .media {
    margin-left: 20px;
    &_two {
      margin-left: 20px;
      
    }
    &_three {
      margin-left: 20px;
    }
  }
  .title_advantage {
    font-size: 16px;
    line-height: 18px;
  }
  .descr_advantage {
    font-size: 13px;
    width: 100%;
  }
  .padding_two {
    margin-left: 0;
  }
  .advantage_items_item {
    margin-left: 0;
  }
.advantage_photo_one {
  display: none;
}
.advantage_photo_two {
  display: none;
}
.advantage_two {
  margin-left: 5px;
  padding-bottom: 5px;
  margin-top: -75px;
  img {
    width: 65%;
  }
}
.advantage_photo {
  margin-top: 50px;
  background: #1A327A;
border-radius: 10px;
}
.record_title {
  font-size: 16px;
  line-height: 19px;
  span {
    font-size: 17px;
    line-height: 20px;
  }
}
.advantage_photo_one {
  img {
    height: 277px;
  }
}
.advantage_photo_two {
  img {
    height: 277px;
  }
}
.advantage {
  padding-bottom: 49px;
  &_record{
    margin-left: 32px;
    margin-top: -45%;
  }
}
.slider {
  margin-left: 15px;
  margin-right: 15px;
  width: 90%;
  &_items {
    img {
      width: 74%;
      margin: 0 auto;
    }
  }
}
.carousel {
  padding-bottom: 0;
}
.media_phone {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #1A327A;
  span {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #E22828;
  }
}
.input_title {
  font-size: 25px;
  line-height: 28px;
}
.input_subtitle {
  font-size: 17px;
  line-height: 19px;
}
.slick-list {
  height: 230px;
}
.slide {
  &_one {
    padding: 35px 14px;
    margin-left: 20px;
  }
  &_two {
    padding: 35px 14px;
    margin-left: 20px;
  }
  &_three {
    padding: 35px 55px;
    margin-left: 20px;
  }
  &_four {
    padding: 43px 19px;
    margin-left: 20px;
  }
  &_five {
    padding: 35px 39px;
    margin-left: 20px;
  }
  &_six {
    padding: 43px 40px;
    margin-left: 20px;
  }
}
.work_photo {
  margin-left: 0;
  img {
    width: 50%;
  }
}
.input_btn {
  width: 100%;
  margin-left: 0;
  margin-top: 30px;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
}
.contackt-form__input_phone {
  width: 81%;
  margin-left: 0;
  margin-top: 30px;
  font-size: 16px;
  line-height: 19px;
}
.contackt-form__input_name {
  width: 81%;
  margin-left: 0;
  font-size: 16px;
  line-height: 19px;
}
.company_text {
  width: 87%;
  padding: 0px 0px 50px;
}
.company_title{
  font-size: 15px;
  line-height: 18px;
  padding: 26px;
}
.company_descr {
  font-size: 14px;
  line-height: 18px;
  padding: 15px;
}
.feedback_items {
  width: 95%;
  margin: 0 auto;
  &_item {
    margin-left: 40px;
    padding: 15px;
    width: 274px;
  }
}
.star{
  margin-left: 130px;
}
.feedback_text {
  font-size: 14px;
  line-height: 16px;
}
.name {
  font-size: 16px;
  line-height: 19px;
}
.slick-dots {
  margin-left: 35%;
}
.map_footer {
  padding: 25px 0px 50px 20px ;
  margin-top: -207%;
  width: 99%;
  margin-left: -3%;
}
.footer_gear {
  margin-top: -84%;
  margin-left: 10%;
}
.iframe_map {
  margin-top: 93%;
  iframe {
    height: 366px;
  }
}
.footer {
  margin-top: 64%;
  z-index: 5;
}
}
@media screen and (min-width: 320px) and  (max-width: 349px) {
  .promo {
    margin-top: 25%;
  }
  .promo_header {
    margin-top: -29%;
  }
  .mobil_text {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    color: #F4F4F4;
  }
  .mobil_descr {
    margin-top: 10px;
  }
  .icons_logo {
    width: 25%;

  }
  .mobil_fixed {
    padding-bottom: 15px;
  }
  .mobil_one {
    margin-left: 17px;
    padding: 4px 18px;
    margin-top: 7px;
    display: block;
    background: #E22828;
    border-radius: 5px;
    a {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-align: right;
      color: #fff;
      text-decoration: none;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  .modal__title {
    font-size: 18px;
    line-height: 20px;
  }
  .modal__subtitle {
    font-size: 16px;
    line-height: 18px;
  }
  .pop {
    padding: 19px 30px;
    width: 0;
  }
  .modal__close {
    right: 20px;
    top: 25px;
  }
  .modal-form__input {
    width: 77%;
    padding: 10px 30px;
    margin-bottom: 10px;
    height: 7px;
  }
  .modal_btn {
    width: 70%;
    text-align: center;
    height: 47px;
  }
  .promo {
    background: #1A327A;
    padding-top: 50px;
  }
  .promo_photo {
    display: none;
  }
  .bur{
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -100%;
    right: 0;
    width: 100%;
    background-color: #2C2C2C;
    transition: 0.6s all;
    &_active {
        height: 50%;
        top: 0;
    }
}
.header_two {
  padding: 0;
}
.icons_logo {
  padding-bottom: 5px;
}
.bur_two{
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -100%;
  right: 0;
  width: 100%;
  background-color: #2C2C2C;
  transition: 0.6s all;
  &_active {
      right: 0%;
      height: 50%;
      top: 40%;
  }
}
  .hamburger {
    z-index: 4;
    display: block;
    position: fixed;
    right: 20px;
    top: 32%;
    transform: translateY(-50%);
    width: 26px;
    height: 50%;
    &_active {
        span {
            &:nth-child(1){
                transform: translateY(10px) rotate(-135deg);
                background-color: #fff; 
            }
            &:nth-child(2) {
                display: none;

            }
    &:nth-child(3){
                transform: translateY(3px) rotate(135deg);
                background-color: #fff; 
            }	
        }	
    }
    span {
        display: block;
        height: 2px;
        
        background-color: #1A327A; 
        margin-bottom: 2px;
        transition: 0.5s all;
        &:nth-child(1){
            margin: 5px;
            width: 80%;
            
        }  
        &:nth-child(2){
            width: 100%;
        }    
        &:nth-child(3){
            margin: 5px;
            width: 80%;
            
        }
       
    
}      
} 
.promo_photo_one {
  img {
    height: 138%;
  }
}
.photo_two {
  margin-top: 0;
  margin-left: 25%;
  img {
    width: 70%;
  }
}
.promo_photo_two {
  img {
    height: 138%;
  }
}
.arrow_slide_1 {
  display: none;
}
.arrow_slide_2 {
  display: none;
}
  .container {
    width: 95%;
  }
  .mesto_logo {
    margin-left: 20px;
  }
  .color {
    margin-left: 5px;
  }
  .arrow_slide_2 {
    margin-left: -2%;

  }
  .arrow_slide_1 {
    margin-left: 93%;
  }
  .header_nav_one {
    padding-left: 0;
    padding-top: 50px;
  }
  .header_nav {
    a {
      font-size: 20px;
      line-height: 24px;
      padding-bottom: 15px;
      padding-left: 50px;
    }
  }
  .promo_wrapper {
    margin-left: 0;
    margin-top: -57%;
  }
  .title {
    font-size: 30px;
    line-height: 35px;
  }
  .subtitle {
    font-size: 15px;
    line-height: 18px;
    width: 100%;
  }
  .color {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    a {
      color: #fff;
      font-size: 14px;
      line-height: 16px;
    }
  }
  .logo_items_item {
    padding-bottom: 20px;
  }
  .phone_margin {
    margin-left: -23%;
    &_two {
      margin-left: -27%;
    }
  }
  .btn_promo {
    padding: 13px;
    font-size: 12px;
    line-height: 14px;
  }
  .promo {
    padding-bottom: 100px;
  }
  .title_one {
    font-size: 24px;
    line-height: 28px;
    span {
      font-size: 24px;
    line-height: 28px;
    }
  }
  .padding {
    margin-left: 20px;
  }
  .tablet {
    margin-left: 0;
    margin-right: 0px;
    margin-top: 30px;
    &_descr {
      width: 308px;
    }
  }
  .tablet_two {
    margin-left: 0;
  }
  .services_items_item {
    width: 140px;
    height: 170px;
    margin-left: 10px;
    margin-top: 40px;
    img {
      width: 100%;
      height: 100px;
    }

  }
  .services_descr {
    font-size: 13px;
    line-height: 15px;
    padding: 10px 10px;
  }
  .descr_advantage {
    width: 354px;
    font-size: 14px;
  }
  .media {
    margin-left: 20px;
    &_two {
      margin-left: 20px;
      padding-top: 100px;
    }
    &_three {
      margin-left: 20px;
    }
  }
  .title_advantage {
    font-size: 16px;
    line-height: 18px;
  }
  .descr_advantage {
    font-size: 13px;
    width: 100%;
  }
  .padding_two {
    margin-left: 0;
  }
  .advantage_items_item {
    margin-left: 0;
  }
.advantage_photo_one {
  display: none;
}
.advantage_photo_two {
  display: none;
}
.advantage_two {
  margin-left: 5px;
  padding-bottom: 5px;
  margin-top: -75px;
  img {
    width: 65%;
  }
}
.advantage_photo {
  margin-top: 50px;
  background: #1A327A;
border-radius: 10px;
}
.record_title {
  font-size: 16px;
  line-height: 19px;
  span {
    font-size: 17px;
    line-height: 20px;
  }
}
.advantage_photo_one {
  img {
    height: 277px;
  }
}
.advantage_photo_two {
  img {
    height: 277px;
  }
}
.advantage {
  padding-bottom: 49px;
  &_record{
    margin-left: 32px;
    margin-top: -55%;
  }
}
.slider {
  margin-left: 40px;
  margin-right: 15px;
  width: 73%;
  &_items {
    img {
      width: 74%;
      margin: 0 auto;
    }
  }
}
.carousel {
  padding-bottom: 0;
}
.media_phone {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #1A327A;
  span {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #E22828;
  }
}
.input_title {
  font-size: 24px;
  line-height: 28px;
}
.input_subtitle {
  font-size: 16px;
  line-height: 19px;
}
.slick-list {
  height: 230px;
}
.slide {
  &_one {
    padding: 35px 14px;
    margin-left: 20px;
  }
  &_two {
    padding: 35px 14px;
    margin-left: 20px;
  }
  &_three {
    padding: 35px 55px;
    margin-left: 20px;
  }
  &_four {
    padding: 43px 19px;
    margin-left: 20px;
  }
  &_five {
    padding: 35px 39px;
    margin-left: 20px;
  }
  &_six {
    padding: 43px 40px;
    margin-left: 20px;
  }
}
.work_photo {
  margin-left: 0;
  img {
    width: 50%;
  }
}
.input_btn {
  width: 100%;
  margin-left: 0;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
}
.contackt-form__input_phone {
  width: 79%;
  margin-left: 0;
  margin-top: 30px;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 30px;
}
.contackt-form__input_name {
  width: 79%;
  margin-left: 0;
  font-size: 16px;
  line-height: 19px;
}
.company_text {
  width: 87%;
  padding: 0px 0px 50px;
}
.company_title{
  font-size: 15px;
  line-height: 18px;
}
.company_descr {
  font-size: 13px;
  line-height: 18px;
}
.feedback_items {
  width: 100%;
  margin: 0 auto;
  &_item {
    margin-left: 20px;
    padding: 10px;
    width: 274px;
  }
}
.star{
  margin-left: 130px;
}
.feedback_text {
  font-size: 14px;
  line-height: 16px;
}
.name {
  font-size: 16px;
  line-height: 19px;
}
.slick-dots {
  margin-left: 35%;
}
.map_footer {
  padding: 25px 0px 50px 20px ;
  margin-top: -258%;
  width: 99%;
  margin-left: -3%;
}
.footer_gear {
  margin-top: -84%;
  margin-left: 10%;
}
.iframe_map {
  margin-top: 135%;
  iframe {
    height: 366px;
  }
}
.footer {
  margin-top: 75%;
  z-index: 5;
}
}
@media screen and (min-width: 320px) and  (max-width: 991px) {
  .mobil_fixed {
    display: flex;
    width: 100%;
  }
  .promo_header {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 9999;
  }
  .mobil_none{
    display: none;
  }
  .bur{
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -100%;
    right: 0;
    width: 100%;
    background-color: #2C2C2C;
    transition: 0.6s all;
    &_active {
        height: 50%;
        top: 0;
    }
}
.bur_two{
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -100%;
  right: 0;
  width: 100%;
  background-color: #2C2C2C;
  transition: 0.6s all;
  &_active {
      right: 0%;
      height: 50%;
      top: 40%;
  }
}
  .hamburger {
    z-index: 4;
    display: block;
    position: fixed;
    right: 20px;
    top: 29%;
    transform: translateY(-50%);
    width: 26px;
    height: 50%;
    &_active {
        span {
            &:nth-child(1){
                transform: translateY(10px) rotate(-135deg);
                background-color: #fff; 
            }
            &:nth-child(2) {
                display: none;

            }
    &:nth-child(3){
                transform: translateY(3px) rotate(135deg);
                background-color: #fff; 
            }	
        }	
    }
    span {
        display: block;
        height: 2px;
        
        background-color: #1A327A; 
        margin-bottom: 2px;
        transition: 0.5s all;
        &:nth-child(1){
            margin: 5px;
            width: 80%;
            
        }  
        &:nth-child(2){
            width: 100%;
        }    
        &:nth-child(3){
            margin: 5px;
            width: 80%;
            
        }
       
    
}      
} 
.header_nav_one {
  padding-left: 0;
  padding-top: 50px;
}
.header_nav {
  a {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 15px;
    padding-left: 50px;
  }
}
.color {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  a {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
  }
}
.phone_margin {
  margin-left: -17%;
  margin-top: 15px;
  &_two {
    margin-left: -19%;
    margin-top: 15px;
  }
}
.phone_logo {
  img {
    background-color: white;
    border-radius: 100%;
  }
  
}
.email_logo {
  img {
    background-color: white;
  border-radius: 100%;
  }
}
}

