.container {
    margin: 0 auto;
    width: 1200px;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
  }

  *,
    *::before,
    *::after {
      box-sizing: border-box;
    }


@import 'blocks/header';
@import 'blocks/slide';
@import 'blocks/about';
@import 'blocks/we';
@import 'blocks/work';
@import 'blocks/team';
@import 'blocks/reviews';
@import 'blocks/article';
@import 'blocks/footer';
@import 'blocks/product';
@import 'blocks/gallery';
@import 'blocks/404';
@import 'blocks/contackt';