* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  display: block;
  margin: 0 auto;
  width: 1200px;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/services';
@import 'blocks/advantage';
@import 'blocks/carousel';
@import 'blocks/work';
@import 'blocks/input';
@import 'blocks/company';
@import 'blocks/feedback';
@import 'blocks/map';
@import 'blocks/footer';
@import 'blocks/media';
@import 'blocks/modal';