.about {
    background: url(../../img/we.jpg) no-repeat;
    background-size: 100% 100%;
    padding-top: 46px;
    padding-bottom: 11px;
}

.about_content{
    display: flex;
}
.about_h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 130%;
    color: #E5E5E5;
    margin-bottom: 21px;
}

.we_items {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 130%;
    color: #E5E5E5;
}

.we_items_p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #E5E5E5;
}

.about_item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #E5E5E5;
    text-decoration: none;
    display: flex;
    align-items:center;
    margin-top: 21px;
}
.arrow_all {
    padding-right: 15px;
}

.we-about {
    max-width: 560px;
}

.we_items_right {
    display: flex;
    justify-content: right;
}



.about-video {
    background: url(../../img/osn.png) no-repeat;
    margin-left: 82px;
    width: 72%;
}

.about-video_play_item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: #E5E5E5;
    margin-bottom: 21px;
}

.about-video_play {
    padding-top: 237px;
    max-width: 131px;
    text-align: center;
    padding-bottom: 122px;
}

.play_video {
    box-sizing: border-box;
    border: 1px solid rgba(231, 32, 32, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 100%;
    padding-top: 12px;
    padding-left: 12px;
    padding-bottom: 13px;
    padding-right: 13px;
}

.play_video_two {
    border: 1px solid rgba(231, 32, 32, 0.6);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 100%;
    padding: 11px 11px 12px 12px;
}

.play-video_about:before {
    content: '';
    border: 1px solid rgba(231, 32, 32, 0.3);
    border-radius: 50%;
}

.play {
    width: 28.23px;
    height: 28.23px;
}

.play-video_about {
    background: #E72020;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 27px 25px;
    border-radius: 100%;
    display: block;
    align-items: center;
    width: 81.31px;
    height: 81.31px;
    margin: 0 auto;
}

.about-video_port_item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 130%;
    color: #E5E5E5;
}

.about-video_port {
    text-align: center;
    max-width: 138px;
    padding-top: 180px;
    position: relative;
}

.about-video_port_item:after {
    border-right: 2px solid currentcolor;
    border-bottom: 2px solid currentcolor;
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    color: #E5E5E5;
    right: 117%;
    margin-top: 35px;
}

.about-video_port_item:after {
    transform: rotate(88deg)
}

.about-video_port_item:before {
    color: #E5E5E5;
    border-bottom: 2px solid ;
    content: '';
    position: absolute;
    width: 56px;
    height: 16px;
    right: 91%;
    transform: rotate(-45deg);
    margin-top: 35px;
    
}