.article {
    padding-top: 13px;
    padding-bottom: 175px;
    background: #EDEDED;
}

.article_title {
    flex-direction: row-reverse;
}

.we_items_item_article {
    max-width: 700px;
    margin-right: auto;
}
.we_items_item_p_article {
    padding-left: 0px;
}

.we_items_h1_article {
    margin-left: 50px;
}

.article_title {
    padding-top: 78px;
}

.border_article {
    width: 361px;
    border: 2px solid #15385F;
}

.article_all {
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
}

.article_item {
    max-width: 360px;
}

.article_item_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #E72020;
    padding-top: 50px;
}

.article_item_p {
    padding-top: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #15385F;
    padding-bottom: 40px;
}

.article_item_next {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #15385F;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    img {
        margin-right: 15px;
    }
}

.__title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.__title .__item p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: right;
    color: #E72020;
    max-width: 451px;
    padding-right: 40px;
    border-right: 2px solid #15385F;
    padding-top: 15px;
    padding-bottom: 15px;
}

.__title .__item h2{
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 130%;
    color: #15385F;
    padding-left: 60px;
}

.wrapper {
    display: flex;
    padding-top: 90px;
}

.wrapper .__items {
    display: block;
    padding-left: 100px;
}

.wrapper .__items h3{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #E72020;
    max-width: 440px;
    padding-bottom: 35px;
}

.wrapper .__items p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #15385F;
    max-width: 400px;
    padding-bottom: 62px;
}

.wrapper .__items a{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #15385F;
    text-decoration: none;
    display: flex;
    align-items:flex-end;
    img {
        margin-right: 15px;
    }
}

.article_promo {
    background: #EDEDED;
}

.__title h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 140%;
    color: #15385F;
    margin-top: 25px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
}

.promo_product .__item {
    margin-top: 45px;
}

.wrapper_article {
    padding-top: 0px;
    flex-wrap: wrap;
    padding-bottom: 137px;
}

.__item-article {
    max-width: 360px;
    margin-right: 40px;
    margin-bottom: 98px;
    height: 668px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.__item-article:nth-child(3) {
    margin-right: 0;
}

.__item-article h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #E72020;
}

.__item-article p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #15385F;
    max-height: 207px;
}

.__item-article a {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #15385F;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    img {
        margin-right: 10px;
    }
}

