.footer_items {
    background: url(../../img/footer.jpg) no-repeat;
    background-size: 100% 100%;
}

.footer__flex {
    display: flex;
    padding-top: 97px;
    padding-bottom: 82px;
}

.footer_item_text_title_h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 130%;
    color: #E72020;
    padding-bottom: 23px;
}

.footer_item_text_descr {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #E5E5E5;
    padding-top: 32px;
}

.footer_item_text_p {
    max-width: 500px;
}

.footer_form {
    display: flex;
    flex-direction: column;
    width: 333px;
}

.wpcf7-form-control {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #15385F;
    background: #FFFFFF;
    border: 1px solid #15385F;
    border-radius: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 12px;
    outline: none;
}

.wpcf7-submit {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: #E72020;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 30px;
}

.footer_item_input {
    padding-left: 153px;
    margin-top: 96px;
}

.footer_last {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer_two {
    background: #15385F;
    padding-top: 69px;
    padding-bottom: 119px;
}

.footer_descr {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: #E5E5E5;
    margin-top: 20px;
    max-width: 285px;
    text-decoration: none;
}

.footer_logo {
    padding-bottom: 10px;
}

.footer_menu {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;
    color: #E5E5E5;
    text-decoration: none;
}

.footer_item_menu {
    list-style-type: none;
    margin-top: 10px;
}

.footer_icon {
    padding-top: 7px;
    padding-bottom: 3px;
}

.footer_descr:nth-child(3){
    max-width: 400px;
}

.footer_descr:nth-child(4){
    max-width: 181px;
}

.footer_img {
    background: url(../../img/footer_img.jpg) no-repeat;
    background-size: 100% 100%;
}

.help {
    margin-right: 180px;
    max-width: 519px;
}

.help h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 130%;
    color: #FFFFFF;
    padding-bottom: 46px;
}

.form__items input{
    width: 400px;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
}

.text{
    height: 90px;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    resize: none;
}

.help p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
    padding-bottom: 40px;
    max-width: 441px;
}

.footer__display {
    display: flex;
    padding-top: 86px;
    padding-bottom: 86px;
    align-items:center;
}

.form__items {
    display: flex;
    flex-direction: column;
}

.footer__flex-item {
    display: flex;
}