.__item-gallery {
    width: 560px;
    
    height: 360px;
    background-image: linear-gradient(360deg, #15385F 0%, rgba(21, 56, 95, 0) 40%),url(../../img/gallery_1.jpg) ;
    margin-right: 80px;
    margin-bottom: 70px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-bottom: 22px;
    padding-left: 22px;
    padding-top: 262px;

}

.__item-gallery:nth-child(2) {
    background-image: linear-gradient(360deg, #15385F 0%, rgba(21, 56, 95, 0) 40%),url(../../img/gallery_2.jpg) ;
    margin-right: 0px;
}

.__item-gallery:nth-child(3) {
    background-image: linear-gradient(360deg, #15385F 0%, rgba(21, 56, 95, 0) 40%),url(../../img/gallery_3.jpg) ;
}

.__item-gallery:nth-child(4) {
    background-image: linear-gradient(360deg, #15385F 0%, rgba(21, 56, 95, 0) 40%),url(../../img/gallery_4.jpg) ;
    margin-right: 0px;
}

.__item-gallery p{
    font-style: normal;
    font-weight: 700;
    font-size: 68px;
    line-height: 130%;   
    color: #EDEDED;
    margin-right: 22px;
}

.__item-gallery:nth-child(1) h2{
    max-width: 360px;
}
.__item-gallery:nth-child(2) h2{
    max-width: 360px;
}
.__item-gallery:nth-child(3) h2{
    max-width: 411px;
}
.__item-gallery:nth-child(4) h2{
    max-width: 334px;
}

.__item-gallery h2{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #EDEDED;
}

.wrapper_gallery {
    flex-wrap: wrap;
    padding-bottom: 162px;
}

.gallery {
    background: #EDEDED;
}

.swiper_gallery {
    background: #EDEDED;
}

.slider__gallery .__descr p {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #15385F;
}

.slider__gallery .__descr {
    max-width: 500px;
    margin: 70px auto;
}

.swiper_gallery .swiper-container {
    .swiper-wrapper {
-webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 300px;
    }
}

.slider__gallery .article__arrow {
    margin: 20px auto;
}


.swiper_gallery .swiper-slide {
    background: #EDEDED;
    width: 300px;
    height: 205px;
    img {
        width: 300px;
    }
}

.swiper_gallery  .swiper-slide-active {
    transform: scale(1.47);
    transition: transform 1s ease, transform-origin 1s ease;
    img {
        width: 100%;
        
    }
}

.swiper_gallery .swiper-slide-duplicate-active {
    width: 300px;
    height: 205px;
    img {
        width: 300px;
        height: 205px;
    }
}

.swiper_gallery .swiper-prev {
        transform: rotate(180deg);
    }

.article__arrow {
    display: flex;
    max-width: 440px;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 360px;
    margin-top: 20px;
 }
