.menu {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #E5E5E5;
    text-decoration: none;
    margin-left: 10px;
}

.menu_one {
    margin-left: 0px;
}

.nav_menu__items {
    margin: 0 auto;
}

.nav_menu__items::marker {
    color: #E5E5E5;
}

.nav_menu__items:nth-child(1) {
    list-style-type: none;
    margin-left: 0;
}

.nav_menu__items:last-child{
    margin-right: 0px;
}

.nav_menu {
    display: flex;
    padding: 0;
}

.header_one {
    background: #165E8F;
    padding-top: 17px;
    padding-bottom: 17px;
}

.header_two {
    display: flex;
    padding-top: 22px;
    padding-bottom: 22px;
}

.header {
    background: #EDEDED;
}

.header_number {
    margin-left: auto;
    display: flex;
    justify-content: right;
}

.phone_number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #15385F;
    text-decoration: none;
}

.number-email_one {
    margin-right: 59px;
}

.email_items {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #15385F;
    text-decoration: none;
    margin-top: 14px;
    display: flex;
    align-items: center;
}

.svg_email {
    margin-right: 9px;
}

.phone_items {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #15385F;
    text-decoration: none;
    display: flex;
    margin-top: 14px;
    align-items: center;
}

.svg_phone {
    margin-right: 9px;
}

.logo {
    width: 220px;
    height: 73px;
    background: url(../../img/logo_png.png);
    background-size: 100%;
}

.header_logo-one {
    display: none;
}