.we_items_item_reviews {
    max-width: 734px;
}

.we_items_item_p_reviews {
    padding-left: 59px;
}

.reviews {
    padding-top: 104px;
    padding-bottom: 99px;
    background: #EDEDED;
}

.reviews_video_item {
    width: 360px;
    height: 200px;
    background: #15385F;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.reviews_video {
    display: flex;
    justify-content: space-between;
    padding-top: 44px;
    padding-bottom: 51px;
}

.reviews_next_a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #15385F;
    text-decoration: none;
    padding-left: 9px;
    display: flex;
    align-items: flex-end;
    img {
        margin-right: 15px;
    }
}